.App {
  background-color: #eee;
}

/* ////// For Fonts //////*/
/* ////////////////////// */

body {
  font-family: "Karla";
  font-size: 14px;
}

a {
  color: #000;
}

a:hover {
  color: #ef5d66;
}

div.header,
button.ui,
a.ui,
h1.ui.header,
h2.ui.header,
h3.ui.header,
div.ui {
  font-family: "Karla" !important;
}

/* ////// For Cards ///////*/
/* ////////////////////// */

div.ui.card,
div.ui.cards > .card {
  box-shadow: none;
  /* background: #eee; */
}

div.right.floated.column > img,
.card > img.ui.image {
  border-bottom: 4px solid black;
}
